<div id="intro-container">
  <div class="icon-containter">
    <img src="assets/cmrit.png" alt="" srcset="" width="167px" height="120px" />
    <img src="assets/e2ehiring.png" alt="" srcset="" />
  </div>
  <div class="content-container">
    <h6>for bootcamp usecase</h6>
    <h4>Wireframes on Course web app</h4>
  </div>
  <div class="btns-container">
    <Button class="btn btn-blue" (click)="gotoHome()">
      Guest/ Not registered User</Button
    >
    <Button class="btn btn-white" (click)="gotoHome()">Student module</Button>
    <Button class="btn btn-white" (click)="gotoHome()"
      >Instructor Module</Button
    >
  </div>
</div>
