/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1d366f;
    border-radius: 5px;
  }
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
